/* Espacements */

:root {

    --padding-xs: 10px;
    --padding-sm: 20px;
    --padding-md: 30px;
    --padding-lg: 40px;
    --padding-xl: 50px;
    --padding-xxl: 60px;
    --padding-wide: 100px;
}