:root {
  /* text */

  --font-title: "playfair-display", sans-serif;
  --font-body: "roboto", sans-serif;

  --font-size-g: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
}



/* card */

:root {
  --raduis-general: 8rem;
}

/* header */

:root {
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
