:root {
  /* text */

  --font-title: "Goblin One", regular;
  --font-body: "Gideon Roman", serif;
  --font-sous-titre: "American Typewriter", serif;

  --font-size-g: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-2xl: 2rem; /* 32px */
}
// font weights
:root{
--font-waight-regular: 400;
--font-waight-medium: 500;
--font-waight-bold: 700;
}

:root {
  // Text colors
  --color-sous-titre: #6b7280; /* Gray-500 */
  --color-titre-noire: #000000; /* Black */
  --color-titre-blanc: #ffffff; /* White */
}

:root{
  // background-image;
  --bg-image-header: src('../images/header-bg.jpg');
}