:root {
  --primary-color: #dc2626;
  --dark-red-1: #8b0000;
  --dark-red-2: #b91c1c;
  --backround-card-hover: #ebecee;
  --backround-card: #ffffff;
  --third-color: #000;
  --dark-card: #111111;
}

:root {
  /* catégory */
  --category-tunning: #ef4444;
  --category-vintage: #f59e0b;
  --category-drift: #3b82f6;
  --category-exposition: #10b981;
  --category-circuit: #8b5cf6;
  --category-rassemblement: #f97316;
}
