:root {
  --primary-color: #d98324;
  --secondary-color: #fff;
  --third-color: #000;
}


:root {
  /* catégory */
  --color-b: rgb(50, 173, 230);
  --color-r: rgb(216, 22, 22);
  --color-g: rgb(61, 216, 22);
}
