.card-article {
  height: 400px;
  min-width: 280px;
  margin: 2rem;
}
.card-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: var(--box-shadow);
  height: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  // min-width:calc(100% - (var(--items)-1) + var(--gap-1));

  /* justify-content: center; */
}

.card-img {
  width: 100%;
  height: 285px;
}

.card-img img {
  padding: 1rem;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
.card-category {
height: 50px;
  flex-direction: row;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding:  0 1rem;
  justify-items: center;
}
.like-card{
  justify-self: center;
  text-align: center;
}
.category-card {
 margin: 0.5rem;
  border-radius: 15px;
  border: 1px solid var(--color-g);
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.category-card-1 {
    margin: 0.5rem;
     border-radius: 15px;
     border: 1px solid var(--color-g);
     padding: 0.5rem 1rem 0.5rem 1rem;
   }
.like-card{
   height: 50px;
   padding-top: 10px;

}



.card-container {}