.filtre {
  &_inputs {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    justify-content: center;
    padding-top: var(--padding-md);
  }

  &_ville {
    display: flex;
    flex-direction: row;
  }
}
