.header {
  background-color: #fff;
  color: var(--third-color);
  list-style: none;
  height: 60px;
  padding-bottom: 0;
  margin-bottom: 0;


  &_top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }

  &_logo > a {
    text-decoration: none;
    text-align: center;
    font-family: "Corben", serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-lg);
    color: black;
  }
  &_logo >p {
    color: #3d3d3d;
  }
  &_nav {
    padding: 10px;
  }

  &_liens {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
  }
  &_liens a {
  text-decoration: none;
  color: black; 
// Se rappeler que il y auras le monde sombre ici
  font-family: "Corben", serif;
  font-weight: 700;
  font-size: var(--font-size-lg);
}
  &_liens a:hover {
  color:#dc2626; 
}
  // &_searchbar {
  //   margin-top: var(--padding-md);
  //   display: flex;
  //   align-items: center;
  //   width: 100%;
  //   max-width: 600px;

  //   &_input {
  //     width: 100%;

  //     .form-control {
  //       width: 100%;
  //     }
  //   }
  //   .btn > a {
  //     color: var(--third-color);
  //     text-decoration: none;
  //   }

  //   &_btn {
  //     white-space: nowrap;
  //     transform: scale(1.2);
  //     margin-left: -10px;
  //     border-radius: 50%;
  //     box-shadow: var(--box-shadow);
  //   }
  // }

  // //    margin: auto;
  //      color: var(--third-color);
  //     font-family: var(--font-title);
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //     align-items: center;
  //     gap: 10px;

  &_img {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    padding-right: 5px;
    border-radius: 10px;
    // backgroud blanc faire attention pour le logo
  }

.btn_co {
  display: flex;
  justify-content: center;
}


  .connexion_btn {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    border-radius: 6px;
    color: #3d3d3d;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  &_bottom {
    margin-top: var(--padding-sm);

    ul {
      display: flex;
      place-content: center;
      gap: var(--padding-md);
      list-style: none;
    }
    ul > li > a {
      color: black;
    }
  }
  &_eventAdd {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .header__burger {
    display: block;
    cursor: pointer;
    width: 22px;
    height: 22px;
  }
  .header_nav_menu {
    flex-direction: column;
    align-items: flex-start;
    top: 0;
  }
  .header_nav {
    top: 0;
    right: 0;
    /* A voir avec laurent pour savoir si le z-index est une bonne idée */
    position: fixed;
    width: 300px;
    height: 100vh;
    z-index: 2;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
    transition: 0.3s transform ease-in-out;
  }
  @keyframes transformeMenu {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: initial;
    }
  }

  .header_nav.open {
    display: flex;
  }

  .header_nav_menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header_nav_menu_link {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .header_nav_menu_link a {
    font-size: 25px;
  }
  .header_nav_close {
    display: block;
    cursor: pointer;
  }
  .header_nav_close svg {
    stroke: var(--color-white);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  /* .overlay-menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 2;

    /* Mon overlay va dans sur tout la nav 
  } */
}
