.header {
  background-color: #fff;
  color: var(--third-color);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  list-style: none;
  height: 50px;

  &_top {
    display: flex;
    justify-content: space-between;
  }

  &_logo > a {
    text-decoration: none;
    text-align: center;
    font-family: "Corben", serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-2xl);
    color: black;
  }
  &_logo > p {
    color: #3d3d3d;
    font-family: "give you glory", ui-rounded;
    font-size: var(--font-size-g);
    padding-left: 10px;
  }
  &_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
  }

  &_liens {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    color: var(--text-titre-dark);
  }
  &_liens a {
    text-decoration: none;
    color: var(--text-titre-dark);
    // Se rappeler que il y auras le monde sombre ici
    font-family: "inter", serif;
    font-size: var(--font-size-g);
  }
  &_liens a:hover {
    color: #1f1e1e;
  }

  &_img {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    padding-right: 5px;
    border-radius: 15px;
    // backgroud blanc faire attention pour le logo
  }

  .btn_deconnexion {
    border-radius: 999px;
    padding: 5px;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .btn_co {
    display: flex;
    justify-content: center;
  }

  .connexion_btn {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    border-radius: 15px;
    color: #3d3d3d;
    background: #fff;
    border: 1px solid #e0d8d8;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    touch-action: manipulation;
  }
  .connexion_btn img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  &_bottom {
    margin-top: var(--padding-sm);

    ul {
      display: flex;
      place-content: center;
      gap: var(--padding-md);
      list-style: none;
    }
    ul > li > a {
      color: black;
    }
  }
  &_eventAdd {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .btn_co {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 40px;

    button {
      border-radius: 20px;
      border: none;
      display: flex; // Alignement image + texte
      align-items: center; // Centrage vertical
      gap: 5px; // Espace image / texte
    }

    .btn_profil {
      text-align: center;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
;