/* ------------------------------------------------------- */
/* ------------------  HEADER MOBILE/TABLET  -------------- */
/* ------------------------------------------------------- */

@media screen and (max-width: 900px) {

  /* Affichage du burger */
  .header_burger {
    display: block;
    cursor: pointer;

    img {
      width: 26px;
      height: 26px;
    }
  }

  /* Structure du container */
  .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* -------------------------------------------------- */
  /* ------------------- MENU MOBILE ------------------ */
  /* -------------------------------------------------- */

  .header_nav {
    position: fixed;
    top: 0px;
    right: 0;
    width: 260px;
    height: 100vh;

    background-color: var(--color-main);
    padding: 40px 20px;
    box-shadow: -2px 0 10px rgba(0,0,0,0.25);

    display: none;     // cachée par défaut
    flex-direction: column;
    align-items: flex-start;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    z-index: 999;
  }

  /* Quand le menu est ouvert */
  .header_nav.open {
    display: flex !important;
    animation: transformeMenu 0.3s forwards;
    background: white;
  }

  @keyframes transformeMenu {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
  }

  /* -------------------------------------------------- */
  /* ------------------- CLOSE BUTTON ----------------- */
  /* -------------------------------------------------- */
  .header_nav_close {
    display: block;
    position: absolute;
    right: 16px;
    top: 130px;
    cursor: pointer;
    z-index: 10;

    svg {
      width: 26px;
      height: 26px;
      stroke: var(--color-white);
    }
  }

  /* -------------------------------------------------- */
  /* ------------------ NAVIGATION LINKS --------------- */
  /* -------------------------------------------------- */

  .header_liens {
    flex-direction: column;
    gap: 18px;
    margin-top: 40px;
  }

  .header_liens a {
    font-size: 20px;
    color: var(--color-white);
  }

  /* -------------------------------------------------- */
  /* ------------------- BTN CONNECTION ---------------- */
  /* -------------------------------------------------- */
  .btn_co {
    margin-top: 40px;

    .connexion_btn,
    .btn_profil,
    .btn_deconnexion {
      width: 100%;
      justify-content: flex-start;
      font-size: 18px;
    }
  }

  /* Masquer d’éventuels éléments desktop */
  .header_bottom {
    display: none;
  }

}
