@import "elements/reset";
@import "elements/document";
@import "elements/container";

/* Settings */
@import "settings/config.colors";
@import "settings/config.variables";
@import "settings/config.spacings";
@import "settings/config.border";

/* Forms */
@import "forms/buttons";
@import "forms/controls";
@import "forms/input";
@import "forms/seize";

/* Layout */
@import "layout/header";
@import "layout/filtre";
@import "layout/formContact";
@import "layout/popup";
@import "layout/footer";
@import "layout/secLocation";
@import "layout/category";
@import "layout/carMett";
@import "layout/connexion";

/* Components */
@import "components/card";
@import "components/popup";

/* Pages*/
@import "pages/eventAdd";
@import "pages/contact";
@import "pages/_aPropos";
@import "pages/_profil";
@import "pages/_event";


// Media Query

@import "mediaQuery/headerMedia";
@import "mediaQuery/indexQuery.scss";
@import "mediaQuery/aproposMedia";
@import "mediaQuery/config.container"