.btn_back {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-style: none;
}

.eventAdd {
  &_titrePrincipal {
    font-size: 1.8rem;
    text-align: center;
    padding: 5rem;
  }
  &_titre {
    font-size: 1.3rem;
    text-align: start;
  }

  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &_date {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
// #form2_hidden{

// }
