.btn {
  background: #fff;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 999px;

  &_connexion {
    border-radius: 999px;
    border: var(--border-orange);
    background-color: var(--primary-color);
    font-size: 16px;
    padding: 10px 15px;
    font-family: var(--font-body);
  }
}

.formSubmit {
  border-color: var(--third-color);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  border-radius: 10px;

 &_photoPrincipal{
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 300px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: var(--box-shadow);
 } 
}
