// ******* BTN DE FOOTER **************************
.footer_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: auto;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  // Bouton "Créer un compte"
  button:first-child {
    background-color: #4c5563;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #2e3339;
    }
  }

  // Bouton "Organiser un événement" désactivé
  button:last-child {
    background-color: #ffffff;
    color: #aaa;
    border: 1px solid #ddd;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0.7;
    cursor: not-allowed;
    transition: all 0.3s ease;

    &:hover {
      background-color: #ffffff;
    }

    // Quand activé
    &.active {
      cursor: pointer;
      opacity: 1;
      color: #4c5563;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}


.btn_red {
  background-color: var(--primary-color);
  font-family: var(--font-sous-titre);
  color: var(--color-titre-blanc);
  border: var(--border-none);
  padding: 0.5rem 1rem;
  font-weight: var(--font-waight-medium);
  font-size: var(--font-size-g);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  min-width: 250px;

  &:hover {
    background-color: var(--dark-red-2);
  }
}
