input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 16px;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}
input[type="date"]:focus {
  outline: none;
  border: 1px solid #3498db;
  background: #ecf0f1;
}

// input type time

input[type="time"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="time"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="time"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 16px;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
  
}
input[type="time"]:focus {
  outline: none;
  border: 1px solid #3498db;
  background: #ecf0f1;
}


.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 5px;

  &_time {
    width: 50%;
    padding-left: 10px;
  }

}
