.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;

  &_Logos {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    align-items: flex-end;
  }
  &_titre {
    margin: 20px 10px;
  }
  &_eventAdd {
    display: flex;
    max-width: 900px;
    margin: auto;
    justify-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;

    margin: auto;
  }
  &_category {
    margin: 1rem auto;
    padding: 0 10rem;
    text-align: center;
    @media (max-width: 1020px) {
      padding: 0 10rem;
      margin: 0;
    }

    @media (max-width: 800px) {
      padding: 0;
      margin: 0;
    }
  }
  &_box {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 100%;
    height: 100%;
    gap: 10px;
  }
  &_box1 {
    width: 400px;
    align-items: center;
    margin: 0;
  }
  &_profile {
    margin: auto;
  }

  &_box2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  &_btn {
    align-items: center;
    margin: auto;
  }
  &_page {
    &:not(.active) {
      display: none;
    }
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &_textCenter {
    text-align: center;
  }
  &_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_text {
    flex: 1;
    text-align: center;
    margin: 1rem;
  }
  &_titre > h2 {
    font-size: 2rem; /* Plus gros */
    font-weight: 700; /* Bold */
    color: var(--color-titre-blanc); /* Texte foncé du thème */
    margin-bottom: 1rem;
  }

  // Description de la page d'accueil

  &_description {
    text-align: center;
    padding: 0 10rem;
    margin: auto;
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--color-titre-blanc); /* Gris secondaire */
  }

  // container_category
  .container_card {
    margin: 1rem auto;
    padding: 0 10rem;
    text-align: center;

    @media (max-width: 1020px) {
      padding: 0;
      margin: 0;
    }

    @media (max-width: 800px) {
      padding: 0;
      margin: 0;
    }
  }

  &_filter {
    margin: 5rem 10rem;

    @media (max-width: 1020px) {
      margin: 2rem 5rem;
    }
  }
}

.dark > h2 {
  color: #000000;
}
.containerCard {
  max-width: 1114px;
  margin: 0.5rem auto;
  padding: 1rem 2rem; // un petit padding sur mobile
  box-sizing: border-box;
  place-items: center;
}
