.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  &_Logos {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    align-items: flex-end;
  }
  &_titre {
    margin: 20px 10px;
  }
  &_eventAdd {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &_inputForm{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}
