@layer reset {
    *, *:before, *:after{
      box-sizing: border-box;
    }
  
    html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      //text-rendering: optimizeLegibility;
      //-webkit-font-smoothing: antialiased;
      //-moz-osx-font-smoothing: grayscale;
      text-size-adjust: none;
    }
  
    footer, header, nav, section, main{
      display: block;
    }
  
    body{
      line-height: 1;
    }
  
    ol, ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    blockquote, q{
      quotes: none;
    }
  
    blockquote:before, blockquote:after, q:before, q:after{
      content: '';
      content: none;
    }
  
    table{
      border-collapse: collapse;
      border-spacing: 0;
    }
  
    input{
    
      border-radius: 0;
    }
  }
  /* === Layout global pour assurer le footer en bas === */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* force la page à prendre tout l'écran */
}

main {
  flex: 1; /* pousse le footer vers le bas */
}
